<div class="container">
<div class="message">
<img width="100%" height="100%" src="/assets/about_header.png"></a>
<p class="about">
Hello,<br />
<br />
Do you live in San Francisco? Because if you do, you are probably beyond the insane hills and flashy tourist sites. To you, 
it’s just a foggy peninsula with unbearably hipster parks, brunch tabs that could feed the average human for a week, and 
the most bizarre dating scene fathomable. Don’t worry, we feel your pain. However,we wanted to challenge ourselves, and
the rest of you jaded souls, to reflect on the moments that made us fall in love with this city. Whether it was getting your
significant others’ phone number for the first time at some dive bar or locking eyes with a gorgeous barista while working 
on a side project, we want to hear about it. Some love to hate on you... but we love you San Francisco. 
<br />
<br />
-Amritha and Sabrina 

</p>
</div>
</div>