/*
 *= require_self
*/

@import "posts.css.scss";
@import "skeleton.css.scss";
@import "form.css.scss";
@import "jquery.selectBox.css.scss";
@import "neighborhoods.css.scss";
@import "about.css.scss";
@import "new.css.scss";

/* Reset & Basics (Inspired by E. Meyers / Provided by Skeleton) */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }

/* Application-Wide + Header Styles, Yo. SMANG IT. */

.container {
	position: relative;
	margin: 0 auto 25px auto;
	
	header {
		margin: 30px 0 20px 0;
	}
	
	li {
		position: relative;
		display:inline;
		
		&.logo {
			float: left;
			text-align: center;
			margin-left: 1%;
		}
	}
	
	h1 {
		font-size: 2.5em;
		font-weight: 900;
		color: #333;
		padding-bottom:10px;

		span.heart { color: #e9776c; }
		
		a { text-decoration: none; color : #333;
			&:hover { 
				span.heart { color: #f89187; }
				}
			}
	}
	
	h2 {
		font-size: 1em;
		text-transform: uppercase;
		letter-spacing: .25em;
		font-weight: 500;
		color: #ccc;
		line-height: 1.25em;
	}
	
	h3 { margin-top:28px;
		
		a {
			font-size: 1em;
			text-transform: uppercase;
			font-weight: 900;
			letter-spacing: .15em;
			border: 1px solid #ebeae0;
			border-bottom: 4px solid #c7cbcd;
			border-radius: 5px;
			padding: 14px 14px 10px 14px;
			text-decoration: none;
			color: #333;

			&:hover {
			border-bottom: 4px solid #e9776c;
			}
		}
	}
	
	nav { font-family: "p22-underground";	
		
		li { float: right; margin-right: 8px; }
	}
}

/* Responsive Headerness & Stuff */


@media only screen and (min-width: 768px) and (max-width: 959px) {
}

@media only screen and (max-width: 767px) {

	.container ul {
		float: none;
		margin: auto;
		text-align: center;
		
		li.logo {
			float: none;
			text-align: center;
			margin: auto;
		}
	}

	h2 {
		padding-bottom: 10px;
	}

	nav {
		margin: auto;
		text-align: center;
		padding-bottom: 10px;
	}

	.container li {
		display: inline-block;
	}

	.container li.new {
		float: none;
		margin-right:0;
	}

	.container li.about {
		float: none;
		margin-right: 0;

		a {
			padding: 14px 29px 10px 29px;
		}
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	.container ul {
		float: none;
		margin: auto;
		text-align: center;
	}
	
	h2 {
		padding-bottom: 15px;
	}
	
	nav {
		margin: auto;
		text-align: center;
	}
	
	.container li {
		display: inline-block;
	}
	
 	.container li.new {
		float: none;
		margin-right:0;
	}
	
	.container li.about {
		float: none;
		margin-right: 0;
	
		a {
			padding: 14px 29px 10px 29px;
		}
	}
}

/* Footer */

footer {
	margin: auto;
	border-top: 1px solid #ebeae0;
	font-family: "p22-underground";
	font-size: .9em;
	letter-spacing: .20em;
	line-height: 1.35em;

	p {
		color: #888;
		text-align: center;
		padding-top: 25px;
		text-transform: uppercase;
	}
	
	a {
		color: #333;
		text-decoration: none;
		
		&:hover{
			color: #e9776c;
		}
	}
}

.social {
	margin: 20px auto;
	width: 230px;
	
	.addthis_button_facebook_like {
		padding-right: 20px;
	}

	.addthis_button_tweet {
		position: relative;
		top: -5px;
	}
}

/* Clearing (Provided by Skeleton) */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }